.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: rgb(80, 80, 80);
  background-color: rgb(245,245,245);
}

.link-edit {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.name-and-coins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}